.usageLimitLink {
    -fx-underline: false;
}
.usageLimitLink:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.startButton {
    -fx-background-color: blue;
    -fx-background-radius: 5;
}
.startButton:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, black, 15, 0, 4, 4);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}